@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;

}

.display-flex {
    display: flex;
}

/* text-coler */
.text-gray {
    color: rgb(114, 114, 114);
}

/* dark */
.tect-dark-colar {
    color: rgb(66, 66, 66);
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* bg-color */
.bg-light {
    background: rgba(255, 144, 14, 0.1);

}

.navber {
    justify-content: space-between;
    padding-top: 30px;
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands {
    font-weight: 700;
    font-size: 2rem;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;

}

.navber,
.brand,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.btn-parmary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 15px 30px;
    border: none;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.1rem;
    margin-top: 20px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

img {
    width: 100%;
}

.teams {
    align-items: center;
}

.team-img-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.features-title {
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.features-dispration {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    margin-bottom: 10px;
    
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 60px;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-icon{
    width: 65px;
}

@media screen and (max-width:576px) {

    .brand,
    .nav-links, .teams {
        flex-direction: column;
    }
    .team-img-contents{
        grid-template-columns: repeat(1 ,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-card{
        margin: 0 auto;
        margin-top: 10px;
    }
}